body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../static/call.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.user-info {
    font-weight: bold;
    font-size: 16px;
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d32f2f;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

form input[type="date"] {
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    font-size: 14px;
}

form button {
    padding: 8px 16px;
    border: none;
    background: #0077ff;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #0056b3;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.summary p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.summary p:first-child {
    text-align: left;
    position: relative;
    left: 20%;
}

.summary p:last-child {
    text-align: right;
    position: relative;
    right: 20%;
}

.table-wrapper {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #e3e3e3;
}

th {
    background-color: #0077ff;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.error {
    color: red;
    font-weight: bold;
}
